/* ============================
   Estilos de elemento
   ============================ */
   body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #185472;
    color: white;
    padding: 15px;
    text-align: center;
    font-size: 1.5em;
    position: relative;
}

footer {
    background-color: #185472;
    color: white;
    text-align: center;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
}

/* ============================
   Estilos de Clase
   ============================ */
.cerrar-sesion {
    position: absolute;
    right: 20px;
    top: 15px;
    color: white;
    text-decoration: none;
}

.contenedor {
    text-align: center;
    margin: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
}

.fila-botones {
    display: inline-block;
    width: 100%;
    max-width: 600px;
    margin: 40px 0;
    text-align: center;
}

.fila-botones .boton {
    width: 70%;
    margin: 30px 2.5%;
    padding: 40px;
    font-size: 2.25em;
    border: 1px solid #ccc;
    text-decoration: none;
    color: #333;
    background-color: #f4f4f4;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    height: 150px;
}

.fila-botones .boton:hover {
    background-color: #e0e0e0;
}

/* ============================
   Media queries para dispositivos móviles
   ============================ */
@media (max-width: 1506px) {
    .fila-botones .boton {
        width: 80%; /* Ajusta el tamaño de los botones */
        margin: 20px auto; /* Centra los botones y ajusta el margen */
    }
}

@media (max-width: 768px) {
    .fila-botones .boton {
        width: 90%; /* Aumenta el ancho de los botones */
        margin: 20px auto; /* Centra los botones y reduce el margen */
    }
}

@media (max-width: 480px) {
    .fila-botones .boton {
        width: 95%; /* Los botones ocupan casi todo el ancho disponible */
        padding: 30px; /* Ajusta el padding para pantallas más pequeñas */
        font-size: 1.8em; /* Reduce el tamaño del texto */
    }
}
